body {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #f0ffff;
  border-radius: 8px;
  padding: 20px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin-top: 45px;
}

.task-item {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.task-item .button-group {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 10px;

}

.task-item.completed {
  background-color: #fae0d8;
}

.task-item button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
}

.task-item::before {
  content: '🔹';
  margin-right: 10px;
}

.task-item.completed::before {
  margin-right: 10px;
}

input {
  width: 70%;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  display: inline-block;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
}